<% include ../partials/header %>

  <link rel="stylesheet" href="/inventory.css">

    <h1>Account Information for: <%= username %></h1>

    <% if(info) { %>

    <table border="1">
      <!-- Header row -->
      <tr>
        <th>ID</th>
        <th>User Name</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Access Level</th>
      </tr>
      <% for(var i = 0; i < info.rowCount; i++) { %>
          <tr>
            <td><%= info.rows[i].id %></td>
            <td><%= info.rows[i].email %></td>
            <td><%= info.rows[i].firstName %></td>
            <td><%= info.rows[i].lastName %></td>
            <td><%= info.rows[i].access %></td>
          </tr>
      <% } %>
    </table>

    <% } %>

    <a class="btn btn-primary btn-lg" href="/logout" role="button">Log Out</a>

<% include ../partials/footer %>
