<% include partials/header %>

    <h1>Warehouse Inventory</h1>
    
    <table border="1">
      <!-- Header row -->
      <tr>
        <td><strong>Item ID</strong></td>
        <td><strong>Description</strong></td>
        <td><strong>Category</strong></td>
        <td><strong>Date Recieved</strong></td>
        <td><strong>Storage Location</strong></td>
        <td><strong>Present</strong></td>
        <td><strong>Reserved</strong></td>
      </tr>
      <% for(var i = 0; i < items.length; i++) { %>
          <tr>
            <td><%= items[i].item_id %></td>
            <td><%= items[i].description %></td>
            <td><%= items[i].category %></td>
            <td><%= items[i].date_recieved %></td>
            <td><%= items[i].storage_location %></td>
            
            <!-- PRESENT -->
            <td><% if(items[i].present == 0) { %>
                    <input type="checkbox">
                <% } else { %>
                    <input type="checkbox" checked>
                <% } %>
            </td>
            
            <!-- RESERVED -->
            <td><% if(items[i].reserved == 0) { %>
                    <input type="checkbox">
                <% } else { %>
                    <input type="checkbox" checked>
                <% } %>
            </td>
          </tr>
      <% } %>
    </table>
    
<% include partials/footer %>