<% include partials/header %>

    <h1>Warehouse Inventory</h1>

    <table border="1">
      <!-- Header row -->
      <tr>
        <th>Item ID</th>
        <th>Description</th>
        <th>Category</th>
        <th>Date Recieved</th>
        <th>Storage Location</th>
        <th>Present</th>
        <th>Reserved</th>
      </tr>
      <% console.log(Result.command) %>
      <% for(var i = 0; i < Results.rowCount; i++) { %>
          <tr>
            <td><%= items[i].item_id %></td>
            <td><%= items[i].description %></td>
            <td><%= items[i].category %></td>
            <td><%= items[i].date_recieved %></td>
            <td><%= items[i].storage_location %></td>

            <!-- PRESENT -->
            <td><% if(items[i].present === 'no') { %>
                    <input type="checkbox">
                <% } else { %>
                    <input type="checkbox" checked>
                <% } %>
            </td>

            <!-- RESERVED -->
            <td><% if(items[i].reserved === 'no') { %>
                    <input type="checkbox">
                <% } else { %>
                    <input type="checkbox" checked>
                <% } %>
            </td>
          </tr>
      <% } %>
    </table>

<% include partials/footer %>
