<% include partials/header %>

<link rel="stylesheet" href="./inventory.css">

<div class="container">
    <h1>Warehouse Inventory</h1>
    <div class="row jumbotron text-white">
        <div class="inv-container table table-hover table-condensed table-responsive-sm">
                <table class="">
                    <!-- <caption>Condensed Table Layout</caption> -->
                    <thead>
                        <tr>
                            <th>Project ID</th>
                            <th>Name</th>
                            <th>Manager ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i = 0; i < projects.length; i++) { %>
                        <tr>
                            <td><%= projects[i].proj_id %></td>
                            <td><%= projects[i].name %></td>
                            <td><%= projects[i].email %></td>
                            <% if(id === projects[i].manager_id || access <= 1) { %>
                            <td>
                                <button type="button" class="showbtn btn btn-info" data-toggle="modal" data-target="#viewItem" data-id=<%=projects[i].proj_id%>>Edit</button>
                            </td>
                            <% } else { %>
                            <td>
                                <button type="button" class="showbtn btn btn-disabled">Edit</button>
                            </td>
                            <% } %>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            <div class="btn-container">
                <a class="btn btn-primary btn-lg" href="/projects/new" role="button" id="newProjectButton">New Project</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="viewItem" tabindex="-1" role="dialog" aria-labelledby="viewItemLabel">
    <div class="modal-dialog modal-lg container row" role="document">
        <div class="modal-content inv-container col-sm col-md col-lg col-xl">
            <div class="modal-header">
                <button type="btn btn-sm" class="close" data-dismiss="modal">&times;</button>
                <h3>Project Details</h3>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-12" style="float:left;margin:3px">
                        <label for="name-input">Name</label>
                        <input class="form-control" type="text" id="name-input" name="name" value="">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12" style="float:left;margin:3px">
                        <label for="inputManager">Manager</label>
                        <select id="inputManager" class="form-control" name="manager">
                          <% if(managers) { %>
                              <% for(var i=0; i<managers.length;i++) { %>
                              <% if(managers[i].id === id) { %>
                              <option value="<%=managers[i].id%>" selected="selected"><%= managers[i].email %></option>
                              <% } else %>
                              <option value="<%=managers[i].id%>"><%= managers[i].email %></option>
                              <% } %>
                          <% } %>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-body collapse" id="history-table">
            </div>
            <div class="modal-footer">
                <input type="hidden" id="modal-inv-id" name="" value=""/>
                <button type="button" onclick="updateItem()" class="btn btn-default" data-dismiss="modal">Update</button>
                <button type="button" onclick="changeBtnText()" class="btn btn-primary"
                data-toggle="collapse" data-target="#history-table"
                id="show-hide-history-btn">Show History</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="./javascript/projects.js"></script>

<% include partials/footer %>
