<% include partials/header %>

    <h1>Warehouse Inventory</h1>

    <table border="1">
      <!-- Header row -->
      <tr>
        <th>User ID</th>
        <th>User Name</th>
        <th>Mobile</th>
        <th>Email</th>
        <th>Address</th>
        <th>Date Started</th>
        <th>Projects</th>
      </tr>
      <% for(var i = 0; i < items.rowCount; i++) { %>
          <tr>
            <td><%= items.rows[i].user_id %></td>
            <td><%= items.rows[i].user_name %></td>
            <td><%= items.rows[i].user_mobile %></td>
            <td><%= items.rows[i].user_email %></td>
            <td><%= items.rows[i].user_address %></td>
            <td><%= items.rows[i].date_started %></td>
            <td><%= items.rows[i].manages_project %></td>
          </tr>
      <% } %>
    </table>

<% include partials/footer %>
