<% include ../partials/header %>

<link rel="stylesheet" href="./inventory.css">

<div class="container">
    <h1>Warehouse Inventory</h1>
    <div class="row jumbotron text-white">
        <div class="inv-container col-sm-3 col-md-6 col-lg-9 col-xl-auto">
            <p>
                <table class="table table-condensed table-responsive">
                    <!-- <caption>Condensed Table Layout</caption> -->
                    <thead>
                        <tr>
                            <th>Item ID</th>
                            <th>Description</th>
                            <th>Category</th>
                            <th>Date Recieved</th>
                            <th>Storage Location</th>
                            <th>Present</th>
                            <th>Reserved</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i = 0; i < items.rowCount; i++) { %>
                        <tr>
                            <td><%= items.rows[i].inv_id %></td>
                            <td><%= items.rows[i].description %></td>
                            <td><%= items.rows[i].category %></td>
                            <td><%= items.rows[i].date_recieved %></td>
                            <td><%= items.rows[i].storage_location %></td>

                            <!-- PRESENT -->
                            <td>
                                <% if(items.rows[i].present === 'no') { %>
                                <input type="checkbox">
                                <% } else { %>
                                <input type="checkbox" checked>
                                <% } %>
                            </td>

                            <!-- RESERVED -->
                            <td>
                                <% if(items.rows[i].reserved === 'no') { %>
                                <input type="checkbox">
                                <% } else { %>
                                <input type="checkbox" checked>
                                <% } %>
                            </td>
                            <td>
                                <button class="showbtn" data-toggle="modal" data-target="#viewItem" data-id=<%=items.rows[i].inv_id%>>Edit</button>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </p>
            <div class="btn-container">
                <a class="btn btn-primary btn-lg" href="/inventory/new" role="button" id="newItemButton">New Item</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="viewItem" tabindex="-1" role="dialog" aria-labelledby="viewItemLabel">
    <div class="modal-dialog" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="btn btn-sm" class="close" data-dismiss="modal">&times;</button>
                <h3>Item Details</h3>
            </div>
            <div class="modal-body">
                <p>Item Details Body</p>
                <input type="hidden" name="hiddenvalue" id="hiddenvalue" value=""/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" onclick="myFun()" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

                const myFun = () => {
                    fetch('/inventory').then(response =>{
                        console.log(response);
                    });
                }

                $(document).ready(function() {

                    $('a[data-toggle=modal], button[data-toggle=modal]').click(function () {

                        var data_id = '';

                        if (typeof $(this).data('id') !== 'undefined') {

                            data_id = $(this).data('id');
                        }

                        $('#hiddenvalue').val(data_id);



                    })
                });

            </script>

<% include ../partials/footer %>
