<% include ../partials/header %>

<link rel="stylesheet" href="./inventory.css">

<div class="container">
    <h1>Warehouse Inventory</h1>
    <div class="row jumbotron bg-dark text-white">
        <div class="inv-container col-sm-3 col-md-6 col-lg-9 col-xl-auto">
            <p>
                <table class="table table-condensed table-responsive">
                    <caption>Condensed Table Layout</caption>
                    <thead>
                        <tr>
                            <th>Item ID</th>
                            <th>Description</th>
                            <th>Category</th>
                            <th>Date Recieved</th>
                            <th>Storage Location</th>
                            <th>Present</th>
                            <th>Reserved</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i = 0; i < items.rowCount; i++) { %>
                        <tr>
                            <td><%= items.rows[i].inv_id %></td>
                            <td><%= items.rows[i].description %></td>
                            <td><%= items.rows[i].category %></td>
                            <td><%= items.rows[i].date_recieved %></td>
                            <td><%= items.rows[i].storage_location %></td>

                            <!-- PRESENT -->
                            <td>
                                <% if(items.rows[i].present === 'no') { %>
                                <input type="checkbox">
                                <% } else { %>
                                <input type="checkbox" checked>
                                <% } %>
                            </td>

                            <!-- RESERVED -->
                            <td>
                                <% if(items.rows[i].reserved === 'no') { %>
                                <input type="checkbox">
                                <% } else { %>
                                <input type="checkbox" checked>
                                <% } %>
                            </td>
                            <td>
                                <button class="showbtn" data-toggle="modal" data-target="#viewItem" data-id=<%=items.rows[i].inv_id%>>Edit</button>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </p>
        </div>
    </div>
</div>

<% include ../partials/footer %>
