<% include ../partials/header %>

  <link rel="stylesheet" href="/inventory.css">

    <h1>Account Information for: <%= currentUser.username %></h1>

    <% if(info) { %>

    <div class="container">
        <div class="row jumbotron text-white">
            <div class="inv-container table table-hover table-responsive-lg">
                <table>
                  <!-- Header row -->
                  <tr>
                    <th>Email</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Access Level</th>
                  </tr>
                  <% for(var i = 0; i < info.length; i++) { %>
                      <tr>
                        <td><%= info[i].email %></td>
                        <td><%= info[i].firstname %></td>
                        <td><%= info[i].lastname %></td>
                        <td><%= info[i].access %></td>
                      </tr>
                  <% } %>
                </table>
            </div>
        </div>
    </div>

    <% } %>

<% include ../partials/footer %>
